@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gold: #ffaa00;
  --brown: #391b00;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.text-gold-shadow {
  text-shadow: 0px 1px 5px var(--gold);
}

.background {
  background: radial-gradient(
        circle,
        transparent 20%,
        #392b1d 20%,
        #392b1d 80%,
        transparent 80%,
        transparent
      )
      0% 0% / 80px 80px,
    radial-gradient(
        circle,
        transparent 20%,
        #392b1d 20%,
        #392b1d 80%,
        transparent 80%,
        transparent
      )
      40px 40px / 80px 80px,
    linear-gradient(#c88c00 3px, transparent 3px) 0px -1.5px / 40px 40px,
    linear-gradient(90deg, #c88c00 3px, #392b1d 3px) -1.5px 0px / 40px 40px #392b1d;
  background-size: 80px 80px, 80px 80px, 40px 40px, 40px 40px;
  background-color: #392b1d;
}

.glassmorphism {
  background: rgba(57, 27, 0, 0.5);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}

/* ---- NAV ---- */
/* Bg */
.nav-bg {
  position: relative;
  z-index: 10;
}
/* Left line */
.nav-bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  top: 25px;
  bottom: 0;
  left: -500px;
  right: 0;
  background-image: linear-gradient(90deg, var(--brown) 0%, var(--gold) 100%);
  z-index: -2;
  border-radius: 15px;
}
/* Right line */
.nav-bg::after {
  content: "";
  position: absolute;
  width: 95%;
  height: 5px;
  top: 25px;
  bottom: 0;
  left: 500px;
  right: 0;
  background-image: linear-gradient(90deg, var(--gold) 50%, var(--brown) 100%);
  z-index: -2;
  border-radius: 15px;
}
/* Title */
.nav-title {
  background: var(--brown);
  background: linear-gradient(
    to bottom,
    var(--brown) 0%,
    var(--gold) 50%,
    var(--brown) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--gold);
}
/* Link */
.nav-link {
  color: rgba(255, 170, 0, 0);
  text-decoration-color: var(--gold);
  -webkit-text-stroke: 1px var(--gold);
}


/* ---- Title ---- */
.title-container {
  position: relative;
  z-index: 10;
}
/* Black bg */
.title-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  clip-path: ellipse(50% 65% at 50% 50%);
  background: #392b1d;
  z-index: -1;
}
/* Title */
.title {
  background: var(--gold);
  background: linear-gradient(to bottom, var(--brown) 40%, var(--gold) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-text-stroke: 1px rgb(255, 189, 57);
  text-shadow: 0px 1px 10px var(--gold);

  position: relative;
  z-index: 10;
}


/* ---- TopSales ---- */
.topsales-title {
  background: var(--gold);
  background: linear-gradient(to bottom, var(--brown) 40%, var(--gold) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-text-stroke: 1px rgb(255, 189, 57);
  text-shadow: 0px 1px 10px var(--gold);
}
/*  Line */
.topsales::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-image: radial-gradient(
    circle,
    rgb(200, 140, 0) 0%,
    rgb(57, 27, 0) 100%
  );
  border-radius: 15px;
}


/* ---- Card ---- */
.card-title {
  background: var(--brown);
  background: linear-gradient(
    to bottom,
    var(--brown) 0%,
    var(--gold) 50%,
    var(--brown) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}
/* Line */
.card-title::before {
  content: "";
  position: absolute;
  top: 27px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  height: 2px;
  background-image: radial-gradient(
    circle,
    rgb(200, 140, 0) 0%,
    rgb(57, 27, 0) 100%
  );
  z-index: -2;
  border-radius: 15px;
}

/* ---- Product ---- */
.product-title {
  background: var(--brown);
  background: linear-gradient(
    to bottom,
    var(--brown) 0%,
    var(--gold) 50%,
    var(--brown) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}
/* Line */
.product-title::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  height: 2px;
  background-image: radial-gradient(circle, var(--gold) 0%, var(--brown) 100%);
  z-index: -2;
  border-radius: 15px;
}

/* ---- Stock ---- */
.in-stock {
  color: #54db15;
  text-shadow: 0px 1px 5px #54db15;
}
.out-stock {
  color: #dd3113;
  text-shadow: 0px 1px 5px #dd3113;
}

/* ---- Button ---- */
.button {
  background: var(--brown);
  background: linear-gradient(
    to bottom,
    var(--brown) 0%,
    var(--gold) 50%,
    var(--brown) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ffaa00 #391b00;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: var(--brown);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--gold);
    border-radius: 10px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: rgb(255, 170, 0, 0.7);
  }